@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag;

<h2>Tag Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This tag does not contain any recipes</p>
}
else
{
  <h4>Recipes the tag contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Recipe.RecipeName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to tags", "Index")</p>
<p>@Html.ActionLink("Edit tag", "Edit", new { id = Model.TagId })</p>
<p>@Html.ActionLink("Delete tag", "Delete", new { id = Model.TagId })</p>